# SPDX-FileCopyrightText: 2023 Jason Pena <jasonpena@awkless.com>
# SPDX-License-Identifier: MIT

# Ignore source object files...
/src/**/*.o

# Ignore test object files and executables...
/test/*
!/test/*.*
/test/**/*.o

# Ignore generated documentation...
/docs/doxygen/*

# Ignore chip-8 executables...
chip-8
